absl-py==2.3.1
accelerate==0.20.3
datasets==4.0.0
evaluate==0.4.0
gymnasium==1.2.0
huggingface-hub==0.34.4
matplotlib==3.10.5
numpy==2.2.6
pandas==2.3.2
pyarrow==21.0.0
regex==2025.7.34
requests==2.32.5
scipy==1.14.0
sentencepiece==0.2.1
stable_baselines3==2.7.0
tokenizers==0.21.4
torch==2.8.0
tqdm==4.67.1
transformers==4.55.3
triton==3.4.0
wandb==0.21.1